
#body {
  height: 100vh;
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  
}

#header {
  background-color:#1f2937;
  display: flex;
  justify-content: space-between;   
  padding: 16px;
  margin: 0;
}

#logo {
  font-size: 18px;
  color: grey;
  margin: 0;
  padding: 0;
}

#sivut {
  font-size: 18px;
  color: grey;
  display: flex;
  gap: 5px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}

#sisalto {
  display: flex;
  gap: 5px;
}

#matKork {
  height: 40px;
}

h1 {
  color: rgb(34, 40, 40);
}

td{
  border: 1px solid;
  padding: 10px;
}