:root {
  --colorprimary: rgba(239, 229, 52, 1);
  --colorsecondary: rgb(37, 112, 203);
}


#body {
  height: 100vh;
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.text {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
}

.text:hover {
  background-color: rgb(209, 206, 206);
}

.header {
  background-color: rgb(247, 245, 245);
  display: flex;
  justify-content: space-between;   
  padding: 11px;
  margin: 0;
}

.header-valikko {
  justify-self: flex-start;
}

.footer {
  padding-left: 20px;
  margin-top: auto;
  background-color: rgb(235, 241, 241);
  height: 200px;
}

.luoKayttaja {
  color: rgb(0, 0, 0);
  background-color: rgba(239, 229, 52, 1);
  text-decoration: none;
  padding: 10px;
  margin-left: 20px;
  border-radius: 8px;
}

.kirjaudu {
  color: rgb(0, 0, 0);
  background-color: rgba(59, 140, 239, 1);
  text-decoration: none;
  padding: 10px;
  margin-left: 20px;
  border-radius: 8px;
  border: 0px;
}

.register {
  color: rgb(0, 0, 0);
  background-color: rgba(239, 229, 52, 1);
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  max-width: 25%;
  margin-top: 20px;
  margin-left: 60px;
}

.register:hover {
  background-color: rgb(172, 165, 36);
}

.kirjaudu:hover {
  background-color: rgb(37, 112, 203);
}

.luoKayttaja:hover {
  background-color: rgb(172, 165, 36);
}

.FirstHeader {
  color: black;
  font-size: xx-large;
  font-weight: bold;
  font-family: sans-serif;
  padding: 10px;
  max-width: 50%;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.subHeading {
    color: rgb(0, 0, 0);
    margin-left: 50px;
    padding: 10px;
}

.listaRaja{
  margin-top: 15px;
  margin-bottom: 15px;
  border: solid;
  border-color: rgb(29, 26, 26);
  background-color: rgb(247, 245, 245);
}

.project-list{
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid;
  border-top: 0.5px solid;
  border-color: black;
  padding: 15px;
}

.listItem{
  width: 30%;
}

.project-list-text {
  font-weight: bold;
  font-size: large;
}

.project-list-open {
  background-color: rgb(247, 245, 245);
  margin-left: 40px;
  border-radius: 8px;
  width: 300px;
  height: 30px;
}

.project-list-open:hover {
  background-color: beige;
}

.project-list-delete {
  width: 100px;
  background-color: rgba(255, 55, 55, 1);
  border-radius: 8px;
  margin-left: 5px;
  height: 30px;
}

.project-list-delete:hover {
  background-color: rgb(98, 30, 30);
} 

.new-project-button {
  background-color: rgb(247, 245, 245);
  width: 50%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
}

.new-project-button:hover {
  background-color: beige;
}

.projects-background {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
}

.firstPic {
  width: 70%;
}

.materiaalit {
  width: 70%;
}

.save-file-btn {
  background-color: #c0b6b6;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  border-color: black;
  margin: 8px;
}

.materiaaliHaku {
  display: flex;
  padding: 5px;
}

.tallennaPdf {
  margin: 10px;
}

.hiilijalanOtsikko {
  margin-left: 10px;
}

.kokonaisPaastot {
  margin-left: 10px;
}

.hakuMarginaali {
  margin-left: 5px;
  width: 25%;
}
